<div class="well">
  <button class="btn btn-danger" (click)="getInformationData()"><i class="material-icons">undo</i></button>
  <table class="table display nowrap" style="width:100%" align="center" id="example">
    <thead>
      <tr class="table-header">
        <th>Srno</th>
        <th>Village Name</th>
        <th>Diesel</th>
        <th>Update</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let i of villageslist;let j = index">
        <td>{{j+1}}</td>
        <td>{{i.village_name}}</td>
        <td>{{i.diesel}}</td>
        <td>
          <div class="btn-group-xs">
              <i class="material-icons" style="color: blue;cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="showDatabyid(i,j)">edit</i>
            </div>
      </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit for {{editData.village_name}}</h4>
        </div>
        <div class="modal-body">
    <div class="well">

      <div class="row form-group">
        <div class="col-sm-12">
         Village Name : 
          <input type="text" class="form-control" [(ngModel)]="village_name" placeholder="Name">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
        Diesel : 
          <input type="number" class="form-control" [(ngModel)]="diesel">
        </div>
      </div>

      <div class="row form-group">
        
        
      <div class="col-sm-4">
        <button type="button" class="btn btn-warning" (click)="changeData()">
          Submit
        </button>
      </div>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
