<div class="well">
<div>
    <button class="btn btn-warning" (click)="getTruck()">Get Trucks</button></div>

    <table class="table" style="width:100%" align="center"  *ngIf="tableDate2">

        <thead>
            <tr class="table-header">
                <th>Srno</th>
                <th>Truck</th>
                <th>Driver Name</th>
                <th>Contact</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ownerdetailslist;let j = index">
                <td>{{j+1}}</td>
                <td>{{i.truckno}}</td>
                <td>{{i.driverName}}</td>
                <td>{{i.contact}}</td>
                <td>
                    <div class="btn-group-xs">
                        <i class="material-icons" style="color: blue;cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="showDatabyid(i,j)">edit</i>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
  
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
    
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit for {{editData.truckno}}</h4>
          </div>
          <div class="modal-body">
      <div class="well">
  
        <div class="row form-group">
          <div class="col-sm-12">
           Truck No : 
            <input type="text" class="form-control" [(ngModel)]="truckno" placeholder="MH12 QW 7777">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-12">
          Driver Name : 
            <input type="text" class="form-control" [(ngModel)]="driverName" placeholder="Name">
          </div>
        </div>


        <div class="row form-group">
            <div class="col-sm-12">
             Contact : 
              <input type="number" class="form-control" [(ngModel)]="contact" placeholder="MH12 QW 7777">
            </div>
          </div>
  
        <div class="row form-group">
          
          
        <div class="col-sm-4">
          <button type="button" class="btn btn-warning" (click)="changeData()">
            Submit
          </button>
        </div>
        </div>
      </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
